@using CRUDelicious.Models;
@model List<Dish>;

<h1>Welcome to CRUDelicious</h1>
<br>
<ul class="topdiv">
    <li>Check out some recent dishes!</li>
    <li><a href="new">Add a Dish</a></li>
</ul>

<hr>

<div class="dishes">
    @foreach(var dish in Model)
    {
        <p><a href='@dish.DishID'>@dish.Name</a> by @dish.Chef</p>
    }
</div>