@model Login

<div class="formdiv">
    <h1>Login</h1>
    <form asp-action="Login" asp-controller="Home" method="POST">
        <div class="formelement">
            <label asp-for="Email"></label>
            <br>
            <input asp-for="Email">
            <br>
            <span asp-validation-for="Email"></span>
            <!-- <br>     -->
        </div>
        
        <div class="formelement">
            <label asp-for="Password"></label>
            <br>
            <input asp-for="Password">
            <br>
            <span asp-validation-for="Password"></span>
            <!-- <br>     -->
        </div>

        <div class="login">
            <input type="submit" value="Login">  
        </div>
    </form>
</div>

