@model UserLog

<div class="jumbotron">
    <h3>Login</h3>
</div>

<form asp-action="Login" asp-controller="Home" method="post">
    <div class="form-group col-sm-12">
        <label>Email</label>
        <input type="text" asp-for="LogEmail" class="form-control" />
    </div>
    <div class="form-group col-sm-12">
        <label>Password</label>
        <input type="password" asp-for="LogPassword" class="form-control" />
        
        <span asp-validation-for="LogEmail"></span>
        <span asp-validation-for="LogPassword"></span>
    </div>
    <input type="submit" class="btn btn-primary" />
</form>