
<h1>Random passcode #@ViewBag.Count</h1>
<p>@ViewBag.Passcode</p>
<form action="Generate" method="POST">
    <input type=submit value="Generate">
</form>
<form action="Reset" method="POST">
    <button type="submit">Reset</button>
</form>